<h2>Formulario de tarea</h2>

<form class="form-container">
    <div class="form-group">
        <label for="taskTitulo">Título de la tarea:</label>
        <input id="taskTitulo" name="taskTitulo" type="text" [(ngModel)]="task.titulo"
            placeholder="Ingresa el título de la tarea..." />
    </div>

    <div class="form-group">
        <label for="taskDescripcion">Descripción de la tarea:</label>
        <textarea id="taskDescripcion" name="taskDescripcion" [(ngModel)]="task.descripcion"
            placeholder="Describe los detalles de la tarea..."></textarea>
    </div>

    <button type="submit" (click)="saveTask()">
        ✓ Guardar tarea
    </button>
</form>

<hr />

<app-task-list-page [tasks]="taskList"></app-task-list-page>